body {
   font-family: serif;
   margin:  0;
   padding: 0;
}

#nav-wrap {
   background-color: #333;
   padding: 10px;
}

#nav {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center;
}

#nav li {
   margin: 0 20px;
}

#nav li a {
   color: white;
   text-decoration: none;
}

/* Banner */
.banner {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 800px;
   background-color: #f4f4f4;
   position: relative;
}

.banner-text {
   position: absolute;
   text-align: center;
   z-index: 7;
}

.banner h1 {
   font-size: 36px;
   margin-bottom: 10px;
}

.banner h3 {
   font-size: 24px;
   color: #666;
}

/* Scatter Plot Background Visualization */
svg {
   position: absolute;
   width: 50%; /* Make it responsive */
   height: auto; /* Maintain aspect ratio */
   top: 0;
   left: 25%;
   right: auto;
}

.dot {
   stroke: black;
   stroke-width: 1px;
}

.cluster-circle {
   fill: none;
   stroke: black;
   stroke-width: 2px;
   stroke-opacity: 0;
}

/* About Section */
#about {
   background: #000524;
   padding-top: 96px;
   padding-bottom: 66px;
   text-align: center;
   padding-left: 10%;
   padding-right: 10%;
}

#about h2 {
   color: #fff;
   margin-bottom: 12px;
}

#about p {
   line-height: 30px;
   color: #ccc;
}

#about .profile-pic {
   width: 120px;
   height: 120px;
   border-radius: 100%;
   margin: 0 auto;
}

.contact-details {
   margin-top: 20px;
   color: #ccc;
}

.download .button {
   background: #444;
   color: white;
   margin-top: 20px;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
}

.download .button:hover {
   background: #fff;
   color: #2B2B2B;
}

/* Education Section */
#education {
   padding: 20px;
   text-align: center;
}

.skills {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-gap: 20px;
list-style: none;
padding: 0;
margin: 0;
}

.skills li {
margin-bottom: 30px;
text-align: center;
}

.skills em {
display: block;
font-weight: bold;
margin-bottom: 5px;
height: 40px; /* Set a fixed height to align all titles */
overflow: hidden; /* Ensure text doesn't overflow */
}

.bar-wrapper {
position: relative;
width: 200px;
height: 10px;
background-color: #ddd;
border: 2px solid black;
border-radius: 5px;
margin: 0 auto;
}

.bar-expand {
display: block;
height: 100%;
background: linear-gradient(90deg, #4a90e2, #50e3c2);
border-radius: 5px;
width: 0;
transition: width 1.5s ease-in-out;
transition-delay: 0.5s;
}

/* Portfolio Section */
#portfolio {
   padding: 20px;
   text-align: center;
}

.portfolio-pic {
max-width: 50%; /* Ensure images scale to fit */
height: auto;
display: block;
margin: 0 auto; /* Center horizontally */
}

.portfolio-item {
   margin-bottom: 20px;
}

.collapsible {
background-color: #f1f1f1;
cursor: pointer;
padding: 10px;
text-align: left;
border: none;
outline: none;
width: 80%; /* Adjust width */
margin: 0 auto;
font-size: 18px;
position: relative;
}

.collapsible:hover {
background-color: #ddd; /* Change color on hover */
}

/* Plus/Minus icon */
.collapsible::before {
content: '+';
font-size: 24px;
color: #333;
position: absolute;
right: 10px;
top: 10px;
}

.collapsible.active::before {
content: '−'; /* Change to minus when active */
}

.content {
   padding: 0 18px;
   display: none;
   overflow: hidden;
   text-align: center;
   margin: 20px 0;
}